{% extends 'base.html' %}

{% block title %} 
    Admin Login 
{% endblock %}

{% block content %}

<!-- Login/Register Form -->
<div class=" flex flex-col py-6 justify-center antialiased text-center">
    <!--  -->
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <!-- Heading -->
        <span class="block text-3xl font-light text-gray-800">Admin Login</span>
        <div class="mt-3 bg-white shadow-md rounded-lg">
            <div class="h-2 bg-brightRed rounded-t-md"></div>
            <form method="post">
                {% csrf_token %}

                <div class="px-8 py-6">
                    <!-- Heading inside card -->
                    <label for="" class="block text-md text-gray-600">Welcome!</label>
                    <!-- Username Field -->
                    <input type="text" placeholder="Username" name="username" required class="border w-full h-5 px-2 py-5 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed ronded-md rounded-sm">
                    <!-- Password Field -->
                    <input type="password" placeholder="Password" name="pwd" class="border w-full h-5 px-2 py-5 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed ronded-md rounded-sm">
                    
                    <!-- Button -->
                    <div class="flex flex-col justify-center">
                        <button type="submit" class="mt-4 bg-brightRed text-white py-2 px-5 rounded-full hover:bg-brightRedLight">Login</button>
                    </div>
                </div>
            
            </form>
        </div>
    </div>

</div>

<!-- redirect to homepage if no errors when user login with password -->
{% if error == "no" %}

<script>

    alert('Login Succesful'); 
    window.location=("{% url 'admin_home' %}");

</script>
{% endif %}


<!-- Display error message if there is any error  when dding data to database -->
{% if error == "yes" %}


<script>
    alert('Invalid Login Credentials..!'); 
</script>
{% endif %} 

{% endblock %}