{% extends 'admin_base.html' %}

{% block title %} 
    Approved Requests
{% endblock %}

{% block content %}

<div class="bg-gradient-to-r from-violet-500 to-black w-full h-full">

    {% load static %}

    <!-- Table -->
    <section class="antialiased bg-gray-100 text-gray-600 h-full px-4">
        <div class="flex flex-col w-full pt-6 h-full">
            <!-- Table -->
            <div class="w-full mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">Approved Department Requests</h2>
                </header>
                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">S.No</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Department Name</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Email</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">PIN</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-center">Status</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-center">Reg.Date</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-center">Approved On</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-center">Action</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                                {% for i in department %}
                                <tr>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div class="font-medium text-gray-800">{{forloop.counter}}</div>
                                        </div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div class="font-medium text-gray-800">{{ i.user.first_name }} {{ i.user.last_name }}</div>
                                        </div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <a href="#"><div class="text-left hover:text-blue-600">{{i.user.username}}</div></a>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-left font-medium">{{i.deppin}}</div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-md text-center text-green-500">{{i.status}}</div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-md text-center">{{i.regdate}}</div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-md text-center">{{i.updationdate}}</div>
                                    </td>
                                    <td class="p-2 whitespace-nowrap">
                                        <div class="text-md text-center"><a href="{% url 'dep_details' i.id %}" class="text-blue-500 hover:text-blue-700">View Details</a> </div>
                                    </td>
                                </tr>
    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
