{% extends 'base.html' %}

{% block title %} 
    Available Blood Banks
{% endblock %}

{% block content %}

<!-- Choose Location -->
<div class="flex flex-row w-full h-20 justify-center py-4 px-4">

    <div class="flex flex-row justify-between p-2 w-52">
        <!-- <h1 class="text-left">Select District</h1> -->

        <select name="" id="" class="bg-white font-light h-8 rounded-md p-2 shadow-md text-sm">
            <option selected>Choose Location</option>
            <option value="1">Trivandram</option>
            <option value="2">Kollam</option>
            <option value="3">Pathanamthitta</option>
            <option value="4">Alappuzha</option>
            <option value="5">Kottayam</option>
            <option value="6">Idukki</option>
            <option value="7">Ernakulam</option>
            <option value="8">Thrissur</option>
            <option value="9">Palakkad</option>
            <option value="10">Malappuram</option>
            <option value="11">Kozhikkode</option>
            <option value="12">Kannur</option>
            <option value="13">Wayanad</option>
            <option value="14">Kasargod</option>
        </select>

    </div>
    <div class="flex flex-row justify-center p-2 w-52">

        <!-- <p>Blood Group</p> -->

        <select name="" id="" class="bg-white font-light h-8 rounded-md shadow-md p-2 text-sm">
                  <option selected>Blood Group</option>
                  <option value="1">O +ve</option>
                  <option value="2">O -ve</option>
                  <option value="3">A +ve</option>
                  <option value="4">A -ve</option>
                  <option value="5">B +ve</option>
                  <option value="6">B -ve</option>
                  <option value="7">AB +ve</option>
                  <option value="8">AB -ve</option>
        </select>

    </div>
    
</div>

<hr>

<!-- Search Result -->
{% load static %}

<div class="px-10 py-20"> 
  <!-- grid container -->   
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-6 gap-y-10">
    {% for i in departmentfinaldata %}
      <!-- Blood Bank Card 0 -->
      <div class="flex justify-center">
          <div class="block rounded-lg shadow-xl bg-white max-w-sm text-center">
            <div class="py-3 px-6 border-b border-gray-300">
              Featured
            </div>
            <div class="p-6">
              <h5 class="text-gray-900 text-xl font-medium mb-2">{{ i.user.first_name }}</h5>
              <p class="text-gray-700 text-base mb-4">
                {{i.user.last_name}}
              </p>
              <button type="button" class=" inline-block px-6 py-2.5 bg-brightRed text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-brightRedLight hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Request</button>
              <button type="button" class=" inline-block px-6 py-2.5 bg-brightRed text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-brightRedLight hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Get Directions</button>
            </div>
            <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
              {{ i.address }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      

  </div>
</div>

  <!-- Pagination -->
  <div class="flex justify-center h-32">
    <nav aria-label="Page navigation example">
      <ul class="flex list-style-none">
        {% if departmentfinaldata.has_previous %}
        <li class="page-item"><a
          class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
          href="/blood_banks/?page={{departmentfinaldata.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for n in totalPagelist %}
        <li class="page-item"><a
            class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-50 hover:bg-brightRed focus:shadow-md"
            href="/blood_banks/?page={{n}}">{{n}}<span class="visually-hidden">(current)</span></a></li>
        {% endfor %}
        
        {% if departmentfinaldata.has_next %}
        <li class="page-item"><a
            class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
            href="/blood_banks/?page={{totalpage}}">Last</a></li>
        <li class="page-item"><a
            class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
            href="/blood_banks/?page={{departmentfinaldata.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

{% endblock %}