{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
</head>
<body>
    {% load static %}
       <!-- Navbar -->
   <nav class="relative flex flex-wrap w-full mx-auto py-4 p-6 items-center justify-between bg-brightRed ">
    <!-- Flex Container -->
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6 "> 
        <!-- Logo -->
        <div class="pt-2">
            <img src="{% static '/img/lgwhite.svg' %}" alt="donate logo">
        </div>
        <!-- Menu Items -->
        <div class="hidden space-x-8 md:flex text-white">
            <a href="{% url 'home' %}" class="hover:text-gray-300">Home</a>
            <a href="{% url 'blood_banks' %}" class="hover:text-gray-300">Blood Banks</a>
            <a href="{% url 'donate' %}" class="hover:text-gray-300">Donate</a>
            <a href="{% url 'dashboard' %}" class="hover:text-gray-300">Dashboard</a>
            <a href="{% url 'about_us' %}" class="hover:text-gray-300">About Us</a>
        </div>
        <!-- Button -->
        <a href="{% url 'u_form' %}"
        class="hidden px-4 py-2.5 text-white bg-white  rounded-full shadow-md hover:bg-brightRedLight md:block ">
        <button class="inline-block text-black  font-medium text-xs uppercase leading-tight">
            Register
        </button></a>
        <!-- Logout icon -->
        <a href="" class="hidden md:flex md:flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
              </svg>
              
            <h1 class="text-white text-sm">Logout</h1>
        </a>

        <!-- Hamburger Icon -->
        <div class="pt-2.5">
        <button id="sidebar-menu-btn" class=" block hamburger md:hidden focus-outline-none">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>

                <!-- Mobile Menu -->
                
        </div>
    </div>

</nav>

<!-- Content -->



  
<!-- Footer -->

<footer class="bg-veryDarkBlue">
    <!-- Flex Container -->
    <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">
        <!-- Logo and social links container -->
        <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
            <div class="mx-auto my-6 text-center text-sm text-white md:hidden">
                Copyright &copy; 2022, All Rights Reserved
            </div>
            <!-- Logo -->
            <div>
                <img src="{% static 'img/lgwhite.svg' %}" class="h-8 " alt="">
            </div>
            <!-- Social links container -->
            <div class="flex justify-center space-x-4">
            <!-- Link 1 -->
            <a href="#">
                <img src="{% static 'img/icon-facebook.svg' %}" alt="" class="h-8">
            </a>
            <!-- Link 2 -->
            <a href="#">
                <img src="{% static 'img/icon-youtube.svg' %}" alt="" class="h-8">
            </a>
            <!-- Link 3 -->
            <a href="#">
                <img src="{% static 'img/icon-twitter.svg' %}" alt="" class="h-8">
            </a>
            <!-- Link 4 -->
            <a href="#">
                <img src="{% static 'img/icon-pinterest.svg' %}" alt="" class="h-8">
            </a>
            <!-- Link 5 -->
            <a href="#">
                <img src="{% static 'img/icon-instagram.svg' %}" alt="" class="h-8">
            </a>
            </div>
        </div>
        <!-- List Container -->
            <div class="flex justify-around space-x-32">
                <div class="flex flex-col space-y-3 text-white">
                    <a href="{% url 'home' %}" class="hover:text-brightRed">Home</a>
                    <a href="{% url 'blood_banks' %}" class="hover:text-brightRed">Blood Banks</a>
                    <a href="{% url 'donate' %}" class="hover:text-brightRed">Donate</a>
                    <a href="{% url 'about_us' %}" class="hover:text-brightRed">About Us</a>
                </div>

                <div class="flex flex-col space-y-3 text-white">
                    <a href="" class="hover:text-brightRed">Hospitals Near Me</a>
                    <a href="" class="hover:text-brightRed">Community</a>
                    <a href="" class="hover:text-brightRed">Privacy Policy</a>
                </div>
            </div>
        <!-- Input Container -->
        <div class="flex flex-col justify-between">
            <form action="">
                <div class="flex space-x-3">
                    <input type="text" placeholder="Updates in your inbox" class="flex-1 px-4 rounded-full focus:outline-none">
                    <button class="px-6 py-2 text-white rounded-full bg-brightRed hover:bg-brightRedLight focus:outline-none">Go</button>
                </div>
            </form>
            <div class="hidden text-white text-xs md:block">Copyright &copy; 2022, All Rights Reserved</div>
        </div>
    </div>
</footer>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'tw-elements/dist/js/index.min.js' %}"></script>


    
</body>
</html>