{% extends 'dep_base.html' %}

{% block title %}
Donor Details
{% endblock %}

{% block content %}

{% load static %}

<div class="flex flex-col justify-center antialiased bg-gray-100 text-gray-600 h-screen ml-14 mt-14 mb-10 md:ml-64 px-4 ">
    <!-- Table -->
    <div class="w-full max-w-screen mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
        <header class="px-5 py-4 border-b border-gray-100">
            <div class="font-semibold text-gray-800">Donor Appointment Details</div>
        </header>

        <div class="overflow-x-auto p-3">
            <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        
                        <th class="p-2">
                            <div class="font-semibold text-left">Name</div>
                        </th>
                        <th class="p-2">
                            <div class="font-semibold text-left">Blood Group</div>
                        </th>
                        <th class="p-2">
                            <div class="font-semibold text-left">Age</div>
                        </th>
                        <th class="p-2">
                            <div class="font-semibold text-left">Regular Donor</div>
                        </th>
                    </tr>
                </thead>
            
                <tbody class="text-sm divide-y divide-gray-100">
                    
                    <!-- record 1 -->
                    <tr>
                        
                        <td class="p-2">
                            <div class="font-medium text-gray-800">
                               {{donor.fname}} {{donor.lname}}
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="text-left">
                                {{donor.bloodgroup}}
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="text-left font-medium text-green-500">
                                {{donor.age}}
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="text-left font-medium text-green-500">
                                {{donor.regulardonor}}
                            </div>
                        </td>
                    </tr>


                    
                </tbody>
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        
                        <th class="p-2">
                            <div class="font-semibold text-left">Appointment Date</div>
                        </th>
                        <th class="p-2">
                            <div class="font-semibold text-left">Mobile Number</div>
                        </th>
                        <th class="p-2">
                            <div class="font-semibold text-left">Place</div>
                        </th>
                        <th class="p-2">
                            <div class="font-semibold text-left">Pin</div>
                        </th>
                    </tr>
                </thead>

                <tbody class="text-sm divide-y divide-gray-100">
                    <!-- record 2 -->
                    <tr>
                        
                        <td class="p-2">
                            <div class="font-medium text-red-600">
                                {{donor.appointmentdate}}
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="text-left">
                                {{donor.mob}}
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="text-left font-medium text-green-500">
                                {{donor.place}}
                            </div>
                        </td>
                        <td class="p-2">
                            <div class="text-left font-medium">
                                {{donor.pin}}
                            </div>
                        </td>
                    </tr>


                    
                </tbody>
            
            </table>
        </div>

        <!-- Department Activity -->
        {% if donor.status == "pending" %}
        <div class="flex flex-col md:justify-between md:flex-row space-x-2 border-t bg-white">
        <form method="post" class="flex flex-col md:flex-row text-gray-400 w-full justify-between">
            <!-- Status Update -->
                <div class="flex text-gray-400 w-full md:w-1/2 justify-between">
                    <p class="uppercase p-4">Status :</p>
                    <div class="w-1/2 p-4">
                        {% csrf_token %}
                        <select class="form-select appearance-none
                                block
                                w-full
                                sm:w-1/2
                                h-14
                                p-4
                                text-base
                                font-normal
                                text-gray-700
                                bg-white bg-clip-padding bg-no-repeat
                                border border-solid border-gray-300
                                rounded
                                transition
                                ease-in-out
                                m-0
                                
                                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example" name="appointmentstatus">
                                <option selected>Pending</option>
                                <option value="approved">Approve</option>
                                <option value="rejected">Reject</option>
                        </select>

                    </div>
                    

                </div>

            <!-- Remark -->
                <div class="flex text-gray-400 w-full md:w-1/2 justify-between">
                    <p class="uppercase p-4">Remark :</p>
                    <div class="w-1/2 p-2">
                        <textarea class="form-control block w-full text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="departmentremark" id="exampleFormControlTextarea1" rows="3" placeholder="Your message"></textarea>
                    </div>
                    

                </div>

            <!-- Button -->
            <div class="flex items-center justify-center font-bold text-sm border-t border-gray-100">
                <button type="submit" class=" rounded-lg w-24 h-6 hover:shadow-xl p-2"><img src="{% static 'img/update-button.png' %}" alt="submit button"></button>
            </div>
        </form>

        </div>

        {% else %}
        <!-- Department Activity 2 -->
        <div class="flex flex-col md:justify-between md:flex-row space-x-2 border-t bg-white">
            
            <!-- Status Update -->
            
                <div class="flex text-gray-400 w-full md:w-1/2 justify-between">
                    <p class="uppercase p-4">Status :</p>
                    <div class="w-1/2 p-6">
                        
                        <p>{{ donor.status }}</p>

                    </div>
                    

                </div>

            <!-- Remark -->
                <div class="flex text-gray-400 w-full md:w-1/2 justify-between">
                    <p class="uppercase p-4">Remark :</p>
                    <div class="w-1/2 p-2">
                        <p>{{ donor.departmentremark }}
                        </p>
                    </div>
                    

                </div>

        </div>
        {% endif %}

    </div>
</div>

{% if error == "no" %}
<script>
    alert('Status & remark has been updated succesfully');
    window.location=("{% url 'donor_details' donor.id %}");
</script>
{% endif %}

{% if error ==  "yes" %}
<script>
    alert('Something went wrong , Try Again...')
</script>
{% endif %}

{% endblock %}
