{% extends 'base.html' %}

{% block title %}
    Urgently Needed
{% endblock %}

{% block content %}
<div class="flex justify-center">
  <p class="text-brightRed">Only Verified Blood Donors can Accept Requests</p>
  <a href="" class="text-blue-600 ml-4 hover:text-blue-500">Learn More</a>

</div>

<!-- Post Details -->
<div class="px-10 py-20">
  
    <!-- grid container -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-6 gap-y-10">
        <!-- Card -->
        {% for i in reqblood %}
        <div class="flex justify-center">
            <div class="block rounded-lg shadow-xl bg-white w-full text-center">

              <div class="py-3 px-6 border-b border-gray-300">
                {{i.date}}
              </div>

              <div class="p-6">
                <p class="text-gray-900 text-xl font-medium mb-2">{{i.fullname}}</p>
                <p class="text-gray-900 text-xl font-medium mb-2">{{i.bloodgroup}}</p>
                <p class="text-gray-700 text-xs mb-4">
                  {{i.description}}
                </p>

                <p class="text-gray-700 text-base mb-4">
                  Age : {{i.age}}
                </p>

                <p class="text-gray-700 text-base mb-4">
                  PIN : {{i.pin}} 
                </p>

                <p class="text-gray-700 text-base mb-4">
                  Phone : {{i.mob}} 
                </p>

                <p class="text-gray-700 text-base mb-4">
                  Place : {{i.place}} 
                </p>
                <button type="button" class=" inline-block px-6 py-2.5 bg-brightRed text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-brightRedLight hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Accept</button>
                <button type="button" class=" inline-block px-6 py-2.5 bg-brightRed text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-brightRedLight hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Share</button>
              </div>
              <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
                Status : {{i.status}}
              </div>
            </div>
        </div>

        {% endfor %}      

    </div>
</div>

{% endblock %}