{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<!-- Hero Section -->
{% load static %}
<section id="hero">
    <!-- Flex Container -->
    <div class="container flex flex-col-reverse items-center px-6 mx-auto mt-16 space-y-0 md:space-y-0 md:flex-row">
        <!-- Left item -->
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
            <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">Bring Everyone together to build better world</h1>
            <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
                Enter the PIN code of your location ,it will automatically show you the available bloodbanks and hospitals.
            </p>

            <div class="flext justify-center md:justify-start">
                <a href="{% url 'register' %}"
                class="md:hidden p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
                <button class="px-2 py-2.5 text-white font-medium text-xs leading-tight uppercase">Register / Sign In</button></a> 
        

            </div>

            <div class="flext justify-center md:justify-start">
                <a href="{% url 'donate' %}"
                class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
                <button class="inline-block px-2 py-2.5 text-white font-medium text-xs leading-tight uppercase">Donate</button></a> 
        

            </div>
            
        </div>
        <!-- Searchbar -->
        <div class="flex-col pt-14 md:w-1/2 sm:pt-2 md-block">  
            <form method="get" role="form" action="{% url 'search' %}" name="search" class="relative  p-2 rounded-full text-black mx-auto">
                <input type="numeric" placeholder="PIN" name="search" class="appearance-none h-14 w-56 md:w-32 lg:w-80 rounded-l-full shadow-lg  shadow-zinc-400 outline-none md:text-xl px-6" required pattern="[0-9]{6
                }">
                <button type="submit" class="h-14 w-24 bg-brightRed rounded-r-full md:text-xl shadow-lg font-thin text-white shadow-zinc-400">Search</button>
            </form>
        </div>


    </div>
</section>
<!-- Features Section -->
    <!-- Testimonials -->
    <section id="testimonials">
        <!-- Container to test and blocks -->
        <div class="max-w-6xl px-5 mx-auto mt-20 text-center">
            <!-- Heading -->
            <h2 class="text-4xl font-bold text-center">
                What's different about Us?</h2>
                <!-- Features Container -->
                <div class="flex flex-col mt-24 md:flex-row md:space-x-6">

                    <!-- Feature -1 -->
                    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg shadow-xl bg-veryLightGray md:w-1/3">
                        <img src="{% static '/img/crop_doctor.jpg' %}" class="w-16 -mt-14 rounded-full" alt="">
                        <h5 class="text-lg font-bold">Search Blood Banks</h5>
                        <p class="text-sm text-darkGrayishBlue">
                            "Search nearest blood banks in your area and book and easy appointment for donation or request blood"
                        </p>                   
                    </div>
                    
                                    <!-- Feature -2 -->
                    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg shadow-xl bg-veryLightGray md:flex md:w-1/3">
                        <img src="{% static '/img/blood.jpg' %}" class="w-16 -mt-14 rounded-full" alt="">
                        <h5 class="text-lg font-bold">Be a Donor</h5>
                        <p class="text-sm text-darkGrayishBlue">
                            "Easy to donate blood to nearest or your desired blood bank or hospital"
                        </p>               
                    </div>

                                <!-- Feature -3 -->
                    <div class="flex flex-col items-center p-6 space-y-6 rounded-lg shadow-xl bg-veryLightGray md:flex md:w-1/3">
                        <img src="{% static '/img/donate_testimonial.png' %}" class="w-16 -mt-14 rounded-full" alt="">
                        <h5 class="text-lg font-bold">Help Fundraising</h5>
                        <p class="text-sm text-darkGrayishBlue">
                            "Help those who struggles. select a campaign and easily donate through online payment directly to the bank account . currently raised amount is displayed below the campaign"
                        </p>                  
                    </div>
                </div>

            <!-- Button -->
            <div class="my-16">
                <a href="{% url 'dep_login' %}"
                    class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
                    Department Login</a>    

            </div>
        </div>
    </section>



<!-- Error Message -->
{% if error == "no" %}
<script>
    alert('Post Created Succesfully, You can share or track status in dashboard');
    window.location=("{% url 'search' %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong..! Please try again');
</script>
{% endif %}




{% endblock %}

