{% extends 'user_base.html' %}

{% block title %} 
    My Appointments
{% endblock %}
  
{% block content %}

<!-- component -->



    <div class="flex flex-col justify-center h-full ">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <div class="font-semibold text-gray-800">Your Appointments</div>
            </header>
            {% for i in appointment %}
            <div class="overflow-x-auto p-3">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            
                            <th class="p-2">
                                <div class="font-semibold text-left">Name</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Blood Group</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Regular Donor</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-center">Status</div>
                            </th>
                        </tr>
                    </thead>
                
                    <tbody class="text-sm divide-y divide-gray-100">
                        
                        <!-- record 1 -->
                        <tr>
                            
                            <td class="p-2">
                                <div class="font-medium text-gray-800">
                                   {{i.fname}} {{i.lname}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left">
                                    {{i.bloodgroup}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left font-medium text-green-500">
                                    {{i.regulardonor}}
                                </div>
                            </td>
                            <td class="p-2 text-red-600">
                                <div class="flex justify-center" >
                                    {{i.status}}
                                </div>
                            </td>
                        </tr>


                        
                    </tbody>
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            
                            <th class="p-2">
                                <div class="font-semibold text-left">Appointment Date</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Mobile Number</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Place</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-center">Department Remark</div>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-sm divide-y divide-gray-100">
                        <!-- record 2 -->
                        <tr>
                            
                            <td class="p-2">
                                <div class="font-medium text-red-600">
                                    {{i.appointmentdate}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left">
                                    {{i.mob}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left font-medium text-green-500">
                                    {{i.place}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="flex justify-center">
                                    {{i.departmentremark}}
                                   
                                </div>
                            </td>
                        </tr>


                        
                    </tbody>
                
                </table>
            </div>

            <!-- Actions -->
            <div class="flex justify-end font-bold  space-x-4 text-sm border-t bg-brightRed border-gray-100 px-5 py-4">
                <p>{{department.user.first_name}}</p>
                <button class="bg-white rounded-lg p-2 ">ReSchedule</button>
            </div>
            {% endfor %}
        </div>
       
        
    </div>
    



{% endblock %}