{% extends 'user_base.html' %}

{% block title %}
Request A Campaign
{% endblock %}

{% block content %}

{% load static %}

<!-- User Requesting Campaign Fill form  -->
<div class=" flex flex-row py-6 justify-center antialiased">
    <!--  -->
    <div class="py-3 sm:max-w-xl sm:mx-auto">
        <!-- Heading -->
        <p class="text-3xl font-light text-brightRed text-center">Enter Details</p>
        <div class="mt-3 bg-white shadow-md rounded-lg">
            <div class="h-2 bg-brightRed rounded-t-md"></div>
            <!-- Form -->
            <form method="post" enctype="multipart/form-data" class="px-8 py-6" role="form" name="reqcampaign" onsubmit="">
                {% csrf_token %}

            
            <!-- Heading inside form -->
            <label class="block text-xs text-gray-400 text-center">The Details you submit here will sent to the selected Hospital to verify, <br>
                You will receive the response within 24 hours.</label>
            <div class="flex justify-center">
                <a href="{% url 'user_home' %}" ><p class="block text-sm text-center text-brightRed">Learn More</p></a>
            </div>
                
                
            <div class="md:flex justify-between md:space-x-2">
                <!-- First Name -->
                <input type="text" placeholder="First Name" name="patientfname" class=" text-sm border w-full h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required pattern="[A-Za-z]+">
                <!-- Last Name -->
                <input type="text" placeholder="Last Name" name="patientlname" class=" text-sm border w-full h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required pattern="[A-Za-z]+">

            </div>

            <div class="md:flex justify-between">

                <!-- Age Field -->
               
                <input type="number" placeholder="Age" name="patientage" min="18" max="80" class="text-sm border w-full md:w-1/4 h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>

                <!-- Place field -->
                <input type="text" placeholder="Place" name="patientplace" class="text-sm border w-full md:w-1/4 h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>

                <!-- Zip -->
                <input type="text" placeholder="Pin Code" name="patientpin" class="text-sm border w-full md:w-1/4 h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>

            </div>

                 <!-- Mobile Number Field -->
                 <input type="tel" placeholder="Mobile Number" name="patientmob" class="text-sm border w-full  h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>

                  <!-- Amount To Be Raised -->
                <input type="text" placeholder="Amount In Rs" name="patientamount" class="text-sm border w-full h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>

                  <!-- Description field -->
                <input type="text" placeholder="Description" name="patientdescription" class="text-sm border w-full h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>

                <!-- Heading -->
                <label for="patienthospital" class="block text-xs font-light text-brightRed mt-4 text-center">Hospital</label>
                  <!-- Hospital -->
                <div class="w-full h-full">
                    <input type="text" placeholder="Hospital Name" name="patienthospital" id="patienthospital" class="text-sm border w-full h-5 px-4 py-4 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed rounded-sm" required>
                    <!-- <ul class="autocomplete-result-list"></ul> -->
                </div>

                 

                <!-- Heading -->
                <label for="userrelationwithpatient" class="block text-xs font-light text-brightRed mt-4 text-center">Your Relation with Patient</label>

                <!-- Relation With Patient -->
                    <select name="userrelationwithpatient" class="form-select appearance-none
                    mt-2
                    block
                    w-full
                    px-3
                    py-2
                    text-sm
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    rounded-sm
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <option selected>This Patient is my</option>
                    <option value="father">Father</option>
                    <option value="mother">Mother</option>
                    <option value="sister">Sister</option>
                    <option value="brother">Brother</option>
                    <option value="grandfather">Grandfather</option>
                    <option value="grandmother">Grandmother</option>
                    <option value="husband">Husband</option>
                    <option value="wife">Wife</option>
                    <option value="friend">Friend</option>
                    </select>
              
              <!-- Add Patient Hospital Details -->
                  <label for="patientdoc" class="block mb-2 mt-2 text-xs text-brightRed text-center">Add The Medical Documents</label>
                  <input type="file"
                  name="patientmedicaldocpic"
                  class="form-control text-sm mt-2
                  block
                  w-full
                  px-3
                  py-1
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
              
              <!-- Add Profile Pic -->
                  <label for="patientpic" class="block mb-2 mt-2 text-xs text-brightRed text-center">Add a Picture Of Patient (optional)</label>
                  <input type="file"
                  name="patientpic"
                  class="form-control text-sm mt-2
                  block
                  w-full
                  px-3
                  py-1
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">

                   <!-- Register Button -->
                <div class="flex justify-center">
                   <button type="submit" class="mt-4 bg-brightRed text-white py-2 px-5 rounded-full hover:bg-brightRedLight shadow-lg items-center">Request</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- AutoComplete Source -->


<!-- Error Message -->
{% if error == "no" %}
<script>
    alert('Post Created Succesfully, You can share or track status in dashboard');
    window.location=("{% url 'user_dashboard' %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong..! Please try again');
</script>
{% endif %}


{% endblock %}