{% extends 'base.html' %}

{% block title %} 
    Register 
{% endblock %}

{% block content %}

<!-- OTP Verification -->
<div class=" flex flex-col py-6 justify-center antialiased text-center">
    <!--  -->
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <!-- Heading -->
        <span class="text-4xl font-light">OTP Verification</span>
        <div class="mt-3 bg-white shadow-md rounded-lg">
            <div class="h-2 bg-brightRed rounded-t-md"></div>
            <div class="px-8 py-6">
                <label for="" class="block font-semibold">Enter the OTP</label>
                <input type="text" placeholder="Enter the 6 digit OTP" class="border w-full h-5 px-2 py-5 mt-2 hover:outline-none focus-outline-none focus:ring-1 focus:ring-brightRed ronded-md rounded-sm">
                <div class="flex justify-between items-baseline">
                    <button type="submit" class="mt-4 bg-brightRed text-white py-2 px-5 rounded-full hover:bg-brightRedLight">Verify OTP</button>
                    <a href="{% url 'register'%}" class="text-sm font-light hover:text-brightRed">Register</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}